@model Recipe
@{
    ViewBag.Title = "Add Recipe";
}
<link rel="stylesheet" href="~/css/Form.css" />
<link rel="stylesheet" href="~/css/bootstrap.css" />

<div class="container">
    <h1 class="home-title">My Recipe Viewer</h1>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a asp-action="RecipesList" class="item-anchor">Recipe List</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="AddRecipeForm" class="item-anchor">Add Recipe</a>
            </li>
            <li class="main-nav__item">
                <a class="item-anchor" href="">View Recipe</a>
            </li>
            <li class="main-nav__item">
                <a class="item-anchor" href="">Reviews</a>
            </li>
        </ul>
    </nav>
    <p class="home-paragraph">Welcome to the recipe viewer - Create, Save, and View all your favourite recipes!</p>

    <form class="form-container">
        <div class="form-group">
            <label for="recipeNameInput">Recipe Name</label>
            <input class="form-control" id="recipeNameInput" placeholder="Enter Recipe Name">
        </div>
        <div class="form-group">
            <label for="ingredientsTextArea">Ingredients</label>
            <textarea class="form-control" id="ingredientsTextArea" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="instructionsTextArea">Instructions</label>
            <textarea class="form-control" id="instructionsTextArea" rows="3"></textarea>
        </div>
        <div class="submit-button__container">
            <button type="button" class="btn btn-primary submit-button">Submit Recipe</button>
        </div>   
    </form>
</div>
