@* This is the home page view*@

@model Recipe
@{
    ViewBag.Title = "My Recipe Home";
}

<style>
    .main-content {
        margin-bottom: 8rem;
        width: 55vw;
    }
    .index-img-container {
        width: 40rem;
    }
</style>

<div class="container">
    <h1 class="home-title">My Recipe Viewer</h1>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a asp-action="Index" class="item-anchor">Home</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="RecipesList" class="item-anchor">Recipe List</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="AddRecipeForm" class="item-anchor">Add Recipe</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="Review" class="item-anchor">Reviews</a>
            </li>
        </ul>
    </nav>
    <p class="home-paragraph">Welcome to the recipe viewer - Create, Save, and View all your favourite recipes!</p>

    <div class="form-container main-content">
        <div classs="index-img-container">
            <img src="~/img/pizza.jpg" />
        </div>
    </div>
    
</div>
        
<div class="footer-container">
    <h6 class="footer-tag">
        &copy; My Recipe Viewer 2019 - Made by Alvin Quijano
    </h6>
</div>


