@* This is the home page view*@

@model Recipe
@{
    ViewBag.Title = "My Recipe Home";
}

<style>
    .main-content {
        margin-bottom: 8rem;
        width: 55vw;
    }

    .index-img-container {
        width: 40rem;
    }
</style>


<div class="form-container main-content">
    <div classs="index-img-container">
        <img src="~/img/pizza.jpg" />
    </div>
</div>

