@model IEnumerable<Recipe>
@{
    ViewBag.Title = "Recipe List";
}

<link rel="stylesheet" href="~/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/Form.css" />

<style>
    .form-container {
        margin: 3rem auto;
    }
</style>

<div class="container">
    <h1 class="home-title">My Recipe Viewer</h1>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a asp-action="RecipesList" class="item-anchor">Recipe List</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="AddRecipeForm" class="item-anchor">Add Recipe</a>
            </li>
            <li class="main-nav__item">
                <a class="item-anchor" href="">Reviews</a>
            </li>
        </ul>
    </nav>
    <p class="home-paragraph">Welcome to the recipe viewer - Create, Save, and View all your favourite recipes!</p>
</div>

<div class="form-container">
    <table class="table table-hover">
        <thead>
            <tr>
                @*<th scope="col">#</th>*@
                <th scope="col">Name</th>
                <th scope="col">Ingredients</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Recipe r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Ingredients</td>
                </tr>
            }
            @*<tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2"></td>
                <td></td>
            </tr>*@
        </tbody>
    </table>
</div>

