@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "Recipe Details";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<link rel="stylesheet" href="~/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/Common.css" />

<style>
    body {
        position: relative;
        
    }
    .content {
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 60vw;
        background-color: #E6E5E8;
        padding: 2rem;
        margin: 2rem auto;
    }

    .img-container {
        margin: 0 auto;
        width: 40%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .footer-container {
    background-color: #73756A;
    min-width: 100%;
    max-width: 100%;
    height: 5rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
</style>

<div class="container">
    <h1 class="home-title">My Recipe Viewer</h1>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a asp-action="Index" class="item-anchor">Home</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="RecipesList" class="item-anchor">Recipe List</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="AddRecipeForm" class="item-anchor">Add Recipe</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="Review" class="item-anchor">Reviews</a>
            </li>
        </ul>
    </nav>
    <p class="home-paragraph">Welcome to the recipe viewer - Create, Save, and View all your favourite recipes!</p>
</div>

<div class="content">
    <div class="img-container">
        <img src="~/img/mac.jpeg" />
    </div>
    <h3>Macaroni and Cheese Recipe</h3>
    <h4>Ingredients</h4>
    <p>macaroni, butter, flour, salt, black pepper, milk, cheddar cheese</p>
    <h4>Instructions</h4>
    <p>Cook macaroni according to package directions.</p>
    <p>
        In medium saucepan, melt butter over medium heat; stir in flour, and cook for 3-5 minutes stirring constantly to form a roux; add salt and pepper; slowly add milk, stirring well after each addition.
        Cook and stir until bubbly.
    </p>
    <p>Stir in cheese a small amount at a time until fully melted.</p>
    <p>
        Drain macaroni; add to cheese sauce; stir to coat.
    </p>   
</div>

<footer>
    <div class="footer-container">
        <h6 class="footer-tag">
            &copy; My Recipe Viewer 2019 - Made by Alvin Quijano
        </h6>
    </div>
</footer>

