@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "Recipe Details";
}

<div class="form-container recipe-card">
    <div class="recipe-img-container">
        <img src="~/img/mac.jpeg" />
    </div>
    <div class="recipe-content">
        <h3 class="recipe-title">Macaroni and Cheese Recipe</h3>
        <h4>Ingredients</h4>
        <p>macaroni, butter, flour, salt, black pepper, milk, cheddar cheese</p>
        <h4>Instructions</h4>
        <p>Cook macaroni according to package directions.</p>
        <p>
            In medium saucepan, melt butter over medium heat; stir in flour, and cook for 3-5 minutes stirring constantly to form a roux; add salt and pepper; slowly add milk, stirring well after each addition.
            Cook and stir until bubbly.
        </p>
        <p>Stir in cheese a small amount at a time until fully melted.</p>
        <p>
            Drain macaroni; add to cheese sauce; stir to coat.
        </p>
    </div>
</div>
