@model IEnumerable<Recipe>

@{
    ViewBag.Title = "Recipe List";
}

@*<style>
    .form-container {
        margin: 3rem auto;
    }
</style>*@

<div class="container">
    <h1 class="home-title">My Recipe Viewer</h1>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a asp-action="Index" class="item-anchor">Home</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="RecipesList" class="item-anchor">Recipe List</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="AddRecipeForm" class="item-anchor">Add Recipe</a>
            </li>
            <li class="main-nav__item">
                <a asp-action="Review" class="item-anchor">Reviews</a>
            </li>
        </ul>
    </nav>
    <p class="home-paragraph">Welcome to the recipe viewer - Create, Save, and View all your favourite recipes!</p>
</div>

<div class="form-container">
    <table class="table table-hover">
        <thead>
            <tr>
                @*<th scope="col">#</th>*@
                <th scope="col">Name</th>
                <th scope="col">Ingredients</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Recipe r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Ingredients</td>
                    <td>
                        <a asp-action="RecipeInfo" type="button" class="btn btn-secondary btn-sm">View recipe</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<footer>
    <div class="footer-container">
        <h6 class="footer-tag">
            &copy; My Recipe Viewer 2019 - Made by Alvin Quijano
        </h6>
    </div>
</footer>

