@model Recipe

@{
    ViewData["Title"] = "Recipe Details";
}

<div class="form-container recipe-card">

    <div class="recipe-content">
        <h1 class="recipe-title">@Model.Name</h1>

        <h4>Ingredients</h4>
        <p>@Model.Ingredients</p>

        <h4>Instructions</h4>
        <p>
            @Model.Instructions
        </p>

        <a class="btn btn-primary review-button" asp-action="Review">Leave us a review!</a>
    </div>
</div>
