@model MyRecipe.Models.Recipe

@{
    ViewData["Title"] = "Recipe Details";
}

<div class="form-container recipe-card">
    @*<div class="recipe-img-container">
        <img src="~/img/mac.jpeg" />
    </div>*@

    <div class="recipe-content">
        <h3 class="recipe-title">@Model.Name</h3>

        <h4>Ingredients</h4>
        <p>@Model.Ingredients</p>

        <h4>Instructions</h4>
        <p>
            @Model.Instructions
        </p>
    </div>
</div>
