@model IEnumerable<Recipe>

@{
    ViewBag.Title = "Recipe List";
}

<div class="form-container">
    <table class="table table-hover">
        <thead>
            <tr>
                @*<th scope="col">#</th>*@
                <th scope="col">Name</th>
                <th scope="col">Ingredients</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Recipe r in Model)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Ingredients</td>
                    <td>
                        <a  type="button" class="btn btn-secondary btn-sm" 
                           asp-action="RecipeInfo"
                           asp-route-name="@r.Name"
                           >View recipe</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

