@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "Review Recipe";
}

<form class="form-container">
    <div class="form-group">
        <h2>Leave a review!</h2>
        <select class="form-control">
            <option>Select a recipe</option>
            @foreach (Recipe r in Model)
            {
                <option>@r.Name</option>
            }
        </select>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="submit-button__container">
        <button type="submit" class="btn btn-primary submit-button">Submit Recipe</button>
    </div>
</form>

