@model Recipe
@{
    ViewBag.Title = "My Recipe Home";
}

<div class="submit-container">
  <h1>Recipe Added!</h1>
  <p>
    Click <a asp-action="RecipesList">Here</a> to view your list of recipes.
  </p>
</div>

