<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          asp-href-include="/css/main.css" />
    <link rel="stylesheet"
          asp-href-include="/css/bootstrap.css" />
</head>
<body class="main-body">
    <div>
        @RenderBody()
    </div>
</body>
</html>
